{% extends 'base.html' %}
{% block topNav %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {
    var start = moment().subtract(1, 'days').subtract(6,'days');
    var end = moment().subtract(1, 'days');
    function cb(start, end) {
        $('#reportrange').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    $('#reportrange').daterangepicker({
        "minDate": "1/1/2016",
        maxDate:moment().subtract(1, 'days'),
        startDate: start,
        endDate: end,
        "opens": "center",
        "alwaysShowCalendars": false,
    }, cb);
    cb(start, end);
});
$(document).ready(function(){
    $(".applyBtn").off().on('click', function(){
        $("#mySelect").val("CustomRange")
    });
});
function func1() {
  document.getElementById("mySelect").value="Week"
};
window.onload=func1;
</script>
<div class="row">
    <div>
        <form class="form-inline" method="post" action="/ads">
          <div class="form-group mb-2">
              <label style="margin:-2px"  class="lb"><b>SELECT DATES:&nbsp;</b></label>
              <select style="width:200px;border-color:#EB1414 !important" class="form-control sl"  name="option" onChange="myFunction()" id="mySelect">
                <option value="Week">Last 7 days</option>
                <option value="30">This Month (Last 4 Weeks)</option>
                <option value="LastMonth">Prev. Month</option>
                <option value="LastMonthPrevYear">Prev. Month of Past Year</option>
                <option value="12">Last 12 Months</option>
                <option value="LastYear">Last Year</option>
                  <option value="7">Weekly Report</option>
              </select>
          </div>
          <div id="demo" class="form-group "><input class="form-rounded" name="dates" id="reportrange" readonly/></div>
          <button style="margin:10px" type="submit" name="action" value="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
{% block content %}
<div  style="text-align:center;margin: 70px 10px 20px 10px;">
  <h3>Your Website Traffic Snapshots for {{option}}</h3>
  <p><font size="2"><b>({{dates['pre_date']}})</b></font> vs <font size="2"><b>({{dates['prev_date']}})</b></font></p>
</div>
<div class="content" id="online">
        <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Illustration Ads</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                      <!--</li>-->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                            <th>Clicks</th>
                          <th>Impr</th>
                          <th>CTR</th>
                          <th>Cost</th>
                            <th>Conv</th>
                            <th>Cost/Conv</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Anim UK</th>
                            <td align="center">{{googleads['present'][0]['Animators UK']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Animators UK']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Animators UK']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Animators UK']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Animators UK']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Animators UK']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Anim USA</th>
                            <td align="center">{{googleads['present'][0]['Animators USA']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Animators USA']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Animators USA']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Animators USA']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Animators USA']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Animators USA']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Competitors</th>
                            <td align="center">{{googleads['present'][0]['Competitors']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Competitors']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Competitors']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Competitors']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Competitors']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Competitors']|round(2)}}</td>
                        </tr>
                      <tr>
                          <th scope="row">Illus ANZ</th>
                          <td align="center">{{googleads['present'][0]['Illustration Search ANZ']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Illustration Search ANZ']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Illustration Search ANZ']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Illustration Search ANZ']|round(2)}}</td>
                          <td align="center">{{googleads_en['present'][0]['Illustration Search ANZ']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Illustration Search ANZ']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Illus UK</th>
                            <td align="center">{{googleads['present'][0]['Illustration Search UK']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Illustration Search UK']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Illustration Search UK']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Illustration Search UK']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Illustration Search UK']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Illustration Search UK']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Illus USA</th>
                            <td align="center">{{googleads['present'][0]['Illustration Search USA']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Illustration Search USA']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Illustration Search USA']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Illustration Search USA']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Illustration Search USA']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Illustration Search USA']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Total</th>
                            <td align="center">{{googleads['total']}}</td>
                          <td align="center">{{googleads_imp['total']}}</td>
                          <td align="center">{{ctr['total']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['total']|round(2)}}</td>
                          <td align="center">{{googleads_en['total']}}</td>
                          <td align="center">${{cv['total']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Total(Prev)</th>
                            <td align="center">{{googleads['total_prv']}}</td>
                          <td align="center">{{googleads_imp['total_prv']}}</td>
                          <td align="center">{{ctr['total_prv']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['total_prv']|round(2)}}</td>
                            <td align="center">{{googleads_en['total_prv']}}</td>
                          <td align="center">${{cv['total_prv']|round(2)|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Change</th>
                            <td align="center">{{googleads['change']|round(2)}}%</td>
                          <td align="center">{{googleads_imp['change']|round(2)}}%</td>
                          <td align="center">{{ctr['change']|round(2)}}%</td>
                          <td align="center">{{googleads_cost['change']|round(2)}}%</td>
                            <td align="center">{{googleads_en['change']}}%</td>
                          <td align="center">{{cv['change']|round(2)}} %</td>
                        </tr>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Stock Illustration Ads</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                      <!--</li>-->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                            <th>Clicks</th>
                          <th>Impr</th>
                          <th>CTR</th>
                          <th>Cost</th>
                             <th>Conv</th>
                            <th>Cost/Conv</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Stock UK</th>
                          <td align="center">{{googleads['present'][0]['Stock UK']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Stock UK']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Stock UK']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Stock UK']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Stock UK']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Stock UK']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Stock USA</th>
                            <td align="center">{{googleads['present'][0]['Stock USA']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Stock USA']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Stock USA']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Stock USA']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Stock USA']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Stock USA']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Total</th>
                            <td align="center">{{googleads['total_s']}}</td>
                          <td align="center">{{googleads_imp['total_s']}}</td>
                          <td align="center">{{googleads_ctr['total_s']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['total_s']|round(2)}}</td>
                            <td align="center">{{googleads_en['total_s']}}</td>
                          <td align="center">${{cv['total_s']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Total(Prev)</th>
                            <td align="center">{{googleads['total_prvs']}}</td>
                          <td align="center">{{googleads_imp['total_prvs']}}</td>
                          <td align="center">{{googleads_ctr['total_prvs']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['total_prvs']|round(2)}}</td>
                            <td align="center">{{googleads_en['total_prvs']}}</td>
                          <td align="center">${{cv['total_prvs']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Change</th>
                            <td align="center">{{googleads['change_s']|round(2)}}%</td>
                          <td align="center">{{googleads_imp['change_s']|round(2)}}%</td>
                          <td align="center">{{googleads_ctr['change_s']|round(2)}}%</td>
                          <td align="center">{{googleads_cost['change_s']|round(2)}}%</td>
                            <td align="center">{{googleads_en['change_s']}}%</td>
                          <td align="center">{{cv['change_s']|round(2)}}%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</div>
{% endblock %}