{% extends 'base.html' %}
{% block topNav %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {
    var start = moment().subtract(2, 'days').subtract(29,'days');
    var end = moment().subtract(2, 'days');
    function cb(start, end) {
        $('#reportrange').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    $('#reportrange').daterangepicker({
        "minDate": "1/1/2016",
        maxDate:moment().subtract(2, 'days'),
        startDate: start,
        endDate: end,
        "opens": "center",
        "alwaysShowCalendars": false,
    }, cb);
    cb(start, end);
});
$(document).ready(function(){
    $(".applyBtn").off().on('click', function(){
        $("#mySelect").val("CustomRange")
    });
});
function func1() {
  document.getElementById("mySelect").value="30"
};
window.onload=func1;
</script>
<div class="row">
    <div>
        <form class="form-inline" method="post" action="/ads">
          <div class="form-group mb-2">
              <label style="margin:-2px"  class="lb"><b>SELECT DATES:&nbsp;</b></label>
              <select style="width:200px;border-color:#EB1414 !important" class="form-control sl"  name="option" onChange="myFunction()" id="mySelect">
                <option value="Week">Last 7 days</option>
                <option value="30">This Month (Last 4 Weeks)</option>
                <option value="LastMonth">Prev. Month</option>
                <option value="LastMonthPrevYear">Prev. Month of Past Year</option>
                <option value="12">Last 12 Months</option>
                <option value="LastYear">Last Year</option>
                  <option value="7">Weekly Report</option>
              </select>
          </div>
          <div id="demo" class="form-group "><input class="form-rounded" name="dates" id="reportrange" readonly/></div>
          <button style="margin:10px" type="submit" name="action" value="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
{% block content %}
<div  style="text-align:center;margin: 70px 10px 20px 10px;">
  <h3>Your Website Traffic Snapshots for {{option}}</h3>
  <p><font size="2"><b>({{dates['pre_date']}})</b></font> vs <font size="2"><b>({{dates['prev_date']}})</b></font></p>
</div>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row x_title">
      <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_content5" role="tab" id="Ad-Traffic" data-toggle="tab" aria-expanded="false">Paid Search</a></li>
          </ul>
          <div class="dashboard_graph" style="margin: -14px 0px -6px 0px !important;">
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content5" aria-labelledby="Email Traffic">
                    <div>
                      <div style="color:#8e9299;font-weight:bold">
                          <div><font size="4"> {{result['session_category'][-3]['Paid Search']}} Visits {% if (result['session_category'][-1]['Paid Search'].split('%')[0]|float) > 0 %}<img src="static/images/arrowup.png" height="20"/>{% else %}<img src="static/images/arrowdown.png" height="20"/>{% endif %} {{result['session_category'][-1]['Paid Search']}} |
                          {%if result['conversions']['prev_conversions']['sources']['Paid Search'] != 0%}
                          {% set change = ((result['conversions']['pre_conversions']['sources']['Paid Search']-result['conversions']['prev_conversions']['sources']['Paid Search'])/result['conversions']['prev_conversions']['sources']['Paid Search'])*100 %}
                          {{result['conversions']['pre_conversions']['sources']['Paid Search']}} Conversions {% if change > 0 %}<img src="static/images/arrowup.png" height="20"/>{% else %}<img src="static/images/arrowdown.png" height="20"/>{% endif %} {{change|round(2)}}%
                          {% else %}
                          {{result['conversions']['pre_conversions']['sources']['Paid Search']}} Conversions {% if change > 0 %}<img src="static/images/arrowup.png" height="20"/>{% else %}<img src="static/images/arrowdown.png" height="20"/>{% endif %} {%if result['conversions']['pre_conversions']['sources']['Paid Search'] ==0 %} 0% {% else %} 100% {% endif %}
                          {% endif %}</font></div>
                      </div>
                    </div>
                  <canvas id="myChart5" height="90"></canvas>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="content" id="online">
        <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Illustration Ads</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                      <!--</li>-->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                            <th>Clicks</th>
                          <th>Impr</th>
                          <th>CTR</th>
                          <th>Cost</th>
                            <th>Conv</th>
                            <th>Cost/Conv</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Anim UK</th>
                            <td align="center">{{googleads['present'][0]['Animators UK']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Animators UK']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Animators UK']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Animators UK']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Animators UK']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Animators UK']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Anim USA</th>
                            <td align="center">{{googleads['present'][0]['Animators USA']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Animators USA']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Animators USA']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Animators USA']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Animators USA']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Animators USA']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Competitors</th>
                            <td align="center">{{googleads['present'][0]['Competitors']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Competitors']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Competitors']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Competitors']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Competitors']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Competitors']|round(2)}}</td>
                        </tr>
                      <tr>
                          <th scope="row">Illus ANZ</th>
                          <td align="center">{{googleads['present'][0]['Illustration Search ANZ']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Illustration Search ANZ']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Illustration Search ANZ']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Illustration Search ANZ']|round(2)}}</td>
                          <td align="center">{{googleads_en['present'][0]['Illustration Search ANZ']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Illustration Search ANZ']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Illus UK</th>
                            <td align="center">{{googleads['present'][0]['Illustration Search UK']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Illustration Search UK']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Illustration Search UK']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Illustration Search UK']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Illustration Search UK']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Illustration Search UK']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Illus USA</th>
                            <td align="center">{{googleads['present'][0]['Illustration Search USA']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Illustration Search USA']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Illustration Search USA']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Illustration Search USA']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Illustration Search USA']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Illustration Search USA']|round(2)}}</td>
                        </tr>
                        <tr bgcolor="#eeeeee">
                          <th scope="row">Total</th>
                            <td align="center">{{googleads['total']}}</td>
                          <td align="center">{{googleads_imp['total']}}</td>
                          <td align="center">{{ctr['total']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['total']|round(2)}}</td>
                          <td align="center">{{googleads_en['total']}}</td>
                          <td align="center">${{cv['total']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Total(Prev)</th>
                            <td align="center">{{googleads['total_prv']}}</td>
                          <td align="center">{{googleads_imp['total_prv']}}</td>
                          <td align="center">{{ctr['total_prv']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['total_prv']|round(2)}}</td>
                            <td align="center">{{googleads_en['total_prv']}}</td>
                          <td align="center">${{cv['total_prv']|round(2)|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Change</th>
                            <td align="center">{{googleads['change']|round(2)}}%</td>
                          <td align="center">{{googleads_imp['change']|round(2)}}%</td>
                          <td align="center">{{ctr['change']|round(2)}}%</td>
                          <td align="center">{{googleads_cost['change']|round(2)}}%</td>
                            <td align="center">{{googleads_en['change']}}%</td>
                          <td align="center">{{cv['change']|round(2)}} %</td>
                        </tr>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Stock Illustration Ads</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                      <!--</li>-->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                            <th>Clicks</th>
                          <th>Impr</th>
                          <th>CTR</th>
                          <th>Cost</th>
                             <th>Conv</th>
                            <th>Cost/Conv</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Stock UK</th>
                          <td align="center">{{googleads['present'][0]['Stock UK']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Stock UK']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Stock UK']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Stock UK']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Stock UK']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Stock UK']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Stock USA</th>
                            <td align="center">{{googleads['present'][0]['Stock USA']}}</td>
                          <td align="center">{{googleads_imp['present'][0]['Stock USA']}}</td>
                          <td align="center">{{googleads_ctr['present'][0]['Stock USA']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['present'][0]['Stock USA']|round(2)}}</td>
                            <td align="center">{{googleads_en['present'][0]['Stock USA']}}</td>
                          <td align="center">${{googleads_cv['present'][0]['Stock USA']|round(2)}}</td>
                        </tr>
                        <tr bgcolor="#eeeeee">
                          <th scope="row">Total</th>
                            <td align="center">{{googleads['total_s']}}</td>
                          <td align="center">{{googleads_imp['total_s']}}</td>
                          <td align="center">{{googleads_ctr['total_s']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['total_s']|round(2)}}</td>
                            <td align="center">{{googleads_en['total_s']}}</td>
                          <td align="center">${{cv['total_s']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Total(Prev)</th>
                            <td align="center">{{googleads['total_prvs']}}</td>
                          <td align="center">{{googleads_imp['total_prvs']}}</td>
                          <td align="center">{{googleads_ctr['total_prvs']|round(2)}}%</td>
                          <td align="center">${{googleads_cost['total_prvs']|round(2)}}</td>
                            <td align="center">{{googleads_en['total_prvs']}}</td>
                          <td align="center">${{cv['total_prvs']|round(2)}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Change</th>
                            <td align="center">{{googleads['change_s']|round(2)}}%</td>
                          <td align="center">{{googleads_imp['change_s']|round(2)}}%</td>
                          <td align="center">{{googleads_ctr['change_s']|round(2)}}%</td>
                          <td align="center">{{googleads_cost['change_s']|round(2)}}%</td>
                            <td align="center">{{googleads_en['change_s']}}%</td>
                          <td align="center">{{cv['change_s']|round(2)}}%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</div>

{% endblock %}
{% block Graph %}

<script>
var chartData5 = {
labels: [
           "Day-1", "Day-2", "Day-3", "Day-4", "Day-5", "Day-6", "Day-7", "Day-8", "Day-9", "Day-10",
          "Day-11", "Day-12", "Day-13", "Day-14", "Day-15", "Day-16", "Day-17", "Day-18", "Day-19", "Day-20",
          "Day-21", "Day-22", "Day-23", "Day-24", "Day-25", "Day-26", "Day-27", "Day-28", "Day-29", "Day-30"
          ],
datasets: [{
 label: 'Change',
 lineTension: 0,
 yAxisID: '2ndAxis',
 type: 'line',
  datalabels: {
    formatter: function(value, context) {
            return context.dataset.data[context.dataIndex] + ' %';
        }
        },
 data: [
 {% for i in range(0, result["session_category_line_data"]|length) %}
    "{{result["session_category_line_data"][i][1].get('Paid Search', "0%").split("%")[0]}}",
    {% endfor %}
 ],
 fill: false,
 borderColor: 'rgba(2, 194, 252, 0.8)',
 backgroundColor: 'rgba(2, 194, 252, 1)',
 borderWidth: 2
},{
   label: 'Ad Traffic',
   type: 'bar',
   data: [
        {% for i in range(0, result["session_category_line_data"]|length) %}
    "{{result["session_category_line_data"][i][0].get('Paid Search', 0)}}",
    {% endfor %}
   ],
   borderColor: 'rgba(255, 153, 178, 0.5)',
   backgroundColor: 'rgba(255, 153, 178, 1)',
   borderWidth: 2
}]
   };
var ctx = document.getElementById("myChart5").getContext("2d");
var myChart = new Chart(ctx, {
   responsive: true,
   type: 'bar',
   data: chartData5,
   options: {
       plugins: {
              datalabels: {
                align: 'end',
                anchor: 'end',
                backgroundColor: null,
                borderColor: null,
                borderRadius: 4,
                borderWidth: 1,
                color:'#14141f',
                font: {
                  size: 8,
                  weight: 600
                },
                offset: 0,
                padding: 0,
              }
            },
       scales: {
           yAxes: [{
               ticks: {
                   beginAtZero: true
               },
               stacked: true
           }, {
             type: 'linear',
             id: '2ndAxis',
             position: 'right',
             stacked: true,
             ticks: {
               beginAtZero: true
             }
           }]
       }
   }
});
</script>
{% endblock %}