{% extends 'base.html' %}
{% block topNav %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {
    var start = moment().subtract(1, 'days').subtract(6,'days');
    var end = moment().subtract(1, 'days');
    function cb(start, end) {
        $('#reportrange').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    $('#reportrange').daterangepicker({
        "minDate": "1/1/2016",
        maxDate:moment().subtract(1, 'days'),
        startDate: start,
        endDate: end,
        "opens": "center",
        "alwaysShowCalendars": false,
    }, cb);
    cb(start, end);
});
$(document).ready(function(){
    $(".applyBtn").off().on('click', function(){
        $("#mySelect").val("CustomRange")
    });
});
function func1() {
  document.getElementById("mySelect").value="7"
};
window.onload=func1;
</script>
<div class="row">
    <div>
        <form class="form-inline" method="post" action="/report">
          <div class="form-group mb-2">
              <label style="margin:-2px"  class="lb"><b>SELECT DATES:&nbsp;</b></label>
              <select style="width:200px;border-color:#EB1414 !important" class="form-control sl"  name="option" onChange="myFunction()" id="mySelect">
                <option value="7">Weekly Report</option>
                <option value="Week">Last 7 days</option>
                <option value="30">This Month (Last 4 Weeks)</option>
                <option value="LastMonth">Prev. Month</option>
                <option value="LastMonthPrevYear">Prev. Month of Past Year</option>
                <option value="12">Last 12 Months</option>
                <option value="LastYear">Last Year</option>
              </select>
          </div>
          <div id="demo" class="form-group "><input class="form-rounded" name="dates" id="reportrange" readonly/></div>
          <button style="margin:10px" type="submit" name="action" value="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
{% block content %}
<div  style="text-align:center;margin: 70px 10px 20px 10px;">
   <h3> Your Website Traffic Report Has Been Sent to Your Email... <i class="fa fa-thumbs-o-up" style="font-size:35px;color:#099964"></i><br/>
 <font size="2"> Here’s a copy of the report for your reference.</font></h3>
</div>
<footer style="margin:auto;">
Hi,<br><br>
Here’s your website traffic report for {{ option }} ({{dates['pre_date']}}) vs ({{dates['prev_date']}})<br><br>


<b>Visits</b> &emsp;&emsp;                        : {{AllVisitors_pre}} ({% if (change_vists|float) >= 0 %}<font color="green">+{{(change_vists|float)}}%</font>{% else %}<font color="red">{{change_vists|float}}%</font>{% endif %}) —> [Search: {% if (sessions['sessions']['present'][-1]['Organic Search'].split('%')[0]|float) >= 0 %}<font color="green">+{{sessions['sessions']['present'][-1]['Organic Search']}}</font>{% else %}<font color="red">{{sessions['sessions']['present'][-1]['Organic Search']}}</font>{% endif %},
  Direct: {% if (sessions['sessions']['present'][-1]['Direct'].split('%')[0]|float) >= 0 %}<font color="green">+{{sessions['sessions']['present'][-1]['Direct']}}</font>{% else %}<font color="red">{{sessions['sessions']['present'][-1]['Direct']}}</font>{% endif %},
  Referral: {% if (sessions['sessions']['present'][-1]['Referral'].split('%')[0]|float) >= 0 %}<font color="green">+{{sessions['sessions']['present'][-1]['Referral']}}</font>{% else %}<font color="red">{{sessions['sessions']['present'][-1]['Referral']}}</font>{% endif %},
  Social: {% if (sessions['sessions']['present'][-1]['Social'].split('%')[0]|float) >= 0 %}<font color="green">+{{sessions['sessions']['present'][-1]['Social']}}</font>{% else %}<font color="red">{{sessions['sessions']['present'][-1]['Social']}}</font>{% endif %},
  Paid: {% if (sessions['sessions']['present'][-1]['Paid Search'].split('%')[0]|float) >= 0 %}<font color="green">+{{sessions['sessions']['present'][-1]['Paid Search']}}</font>{% else %}<font color="red">{{sessions['sessions']['present'][-1]['Paid Search']}}</font>{% endif %},
  Email: {% if (sessions['sessions']['present'][-1]['Email'].split('%')[0]|float) >= 0 %}<font color="green">+{{sessions['sessions']['present'][-1]['Email']}}</font>{% else %}<font color="red">{{sessions['sessions']['present'][-1]['Email']}}</font>{% endif %}]<br><br>

<b>Web Enquiries</b> &emsp;&emsp;          :  --- (--%)<br>

By Source [Search: --; Agent pop-up: --; Ads: --; Unknown: --; Referral: --; Social:--]<br>
By Region [UK: --; USA: -; ROW: --, IND: --; SEA: --; FR: --; CN: --; ANZ: --]<br>
By Device [Desktop: {{ devices['present'][0]['desktop'] }}; Mobile: {{ devices['present'][0]['mobile'] }}]<br><br>

 <b>Newsletter Subscriptions</b> &emsp;&emsp;     : {{events['pre_total']}} ({% if (events['change']|float) >= 0 %}<font color="green">+{{events['change']}}%</font>{% else %}<font color="red">{{events['change']}}%</font>{% endif %})<br><br>


    <b>Commissioning Guide Views</b>           : {{commission['total_pre']}} ({% if commission['changes']['total_change'] >=0 %}<font color="green">+{{ commission['changes']['total_change']|round(2) }}%</font>{% else %}<font color="red">{{ commission['changes']['total_change']|round(2) }}%</font>{%  endif %})—> [
    UK: {{ commission['present'][0]['UK'] }} ;
    USA: {{ commission['present'][0]['USA'] }} ;
    India: {{ commission['present'][0]['India'] }} ;
    SEA: {{ commission['present'][0]['SG'] }} ;
    ANZ: {{ commission['present'][0]['ANZ'] }} ;
    ROW: {{ commission['present'][1]['ROW'] }} ]<br><br>
 <b>Social Stats</b>               : {{social_stats['total']}} followers (as on {{day.now().strftime("%d-%b-%y")}}) —> [Posts :--; Engagements : --; Connected : --]<br><br><br>
<div style="clear:both;"><h2>Agent Pop-Ups</h2></div>
<div class="col-md-6 col-sm-6 col-xs-12" style="clear:both;">
    <div class="x_panel" style="width:80%; border: 1px solid #c1b8b8; padding:0px 0px !important;">
      <div class="x_content">

        <table class="table table-hover " style="float: left">
          <thead>
            <tr bgcolor="#999999" style="color: white !important;">
              <th>Agent</th>
               <th>Region</th>
               <th>Enquires</th>
                 <th>Impr.</th>
               <th>Conv. rate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Stacey</th>
                <td align="center">USA</td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][1]['Stacey']}}</td>
              <td align="center">0.00%</td>
            </tr>
            <tr>
              <th scope="row">Karen</th>
                <td align="center">US</td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][1]['Karen']}}</td>
              <td align="center">0.00%</td>
            </tr>
            <tr>
              <th scope="row">Lauren</th>
                <td align="center">US</td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][1]['Lauren']}}</td>
              <td align="center">0.00%</td>
            </tr>
            <tr>
              <th scope="row">Juliette</th>
                <td align="center">UK</td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][0]['Juliette']}}</td>
              <td align="center">0.21%</td>
            </tr>
            <tr>
              <th scope="row">Alice</th>
                <td align="center">UK</td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][0]['Alice']}}</td>
              <td align="center">0.36%</td>
            </tr>
            <tr>
              <th scope="row">Chad</th>
                <td align="center">UK</td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][0]['Chad']}}</td>
              <td align="center">0.85%</td>
            </tr>
            <tr>
              <th scope="row">Choon Meng</th>
                <td align="center">SG</td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][0]['Choon Meng']}}</td>
              <td align="center">0.85%</td>
            </tr>
            <tr>
              <th scope="row">Archana</th>
                <td align="center">IN</td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][0]['Archana']}}</td>
              <td align="center">0.00%</td>
            </tr>
            <tr>
              <th scope="row">Total</th>
                <td align="center"></td>
              <td align="center">-</td>
              <td align="center">{{keywords['pre_agent_pop_ups'][1]['Stacey']|int+
                                    keywords['pre_agent_pop_ups'][1]['Lauren']|int+
                                    keywords['pre_agent_pop_ups'][1]['Karen']|int+
                                    keywords['pre_agent_pop_ups'][0]['Choon Meng']|int+
                                    keywords['pre_agent_pop_ups'][0]['Archana']|int+
                                    keywords['pre_agent_pop_ups'][0]['Juliette']|int+
                                    keywords['pre_agent_pop_ups'][0]['Alice']|int+
                                    keywords['pre_agent_pop_ups'][0]['Chad']|int}}</td>
              <td align="center">0.00%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <div style="clear:both;"><h2>Online Ads</h2></div>
<div class="col-md-6 col-sm-6 col-xs-12" style="clear:both; width:60% !important;">
    <div class="x_panel" style="width:100%; border: 1px solid #c1b8b8; padding:0px 0px !important;">
      <div class="x_content">
        <table class="table table-hover">
          <thead>
            <tr bgcolor="#999999" style="color: white !important;">
              <th>Channel</th>
               <th>Clicks</th>
               <th>Impr.</th>
                 <th>CTR</th>
               <th>Cost</th>
               <th>Enquiries</th>
                 <th>Cost/Conv</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Google</th>
                <td align="center">{{googleads['total']}}</td>
              <td align="center">{{googleads_imp['total']}}</td>
              <td align="center">{{((googleads['total']/googleads_imp['total'])*100)|round(2)}}%</td>
              <td align="center">${{googleads_cost['total']}}</td>
                <td align="center">{{googleads_en['total']}}</td>
              <td align="center">${{(googleads_cost['total']/googleads_en['total'])|round(2)}}</td>
            </tr>
            <tr>
              <th scope="row">Bing</th>
                <td align="center">-</td>
              <td align="center">-</td>
              <td align="center">-</td>
              <td align="center">-</td>
                <td align="center">-</td>
              <td align="center">-</td>
            </tr>
            <tr>
              <th scope="row">Facebook</th>
                <td align="center">-</td>
              <td align="center">-</td>
              <td align="center">-</td>
              <td align="center">-</td>
                <td align="center">-</td>
              <td align="center">-</td>
            </tr>
            <tr>
              <th scope="row">Total</th>
                <td align="center">-</td>
              <td align="center">-</td>
              <td align="center">-</td>
              <td align="center">-</td>
                <td align="center">-</td>
              <td align="center">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="clear:both;">
<br/>USA    : {{googleads_en['present'][0]['Animators USA']+googleads_en['present'][0]['Illustration Search USA']}}<br>
UK     : {{googleads_en['present'][0]['Animators UK']+googleads_en['present'][0]['Illustration Search UK']+googleads_en['present'][0]['Competitors']}}<br>
ANZ     : {{googleads_en['present'][0]['Illustration Search ANZ']}}<br><br>
<b>Converted Search terms:</b><br>
{{lst}}<br><br>
Many thanks,<br>
Paul.

  </div>

</footer>
{% endblock %}